$grayColor-1: rgb(240, 240, 240);
$grayColor-2: rgb(226, 226, 226);
$textColor: rgb(30, 30, 30);
$blueColor-1: #dfeefb;
$blueColor-2: rgb(2, 109, 204);

//$tablet-width: 600px;
//$monitor-width: 1000px;
//$max-page-width: 1300px;

$radius-1: 5px;

$topPanelHeight: 3.6rem;
$panelBlurStrength: 2rem;
$panelBackground: rgba($grayColor-1, 0);
