.create-parcel-box-form {

}

.create-parcel-box-form__work-time-wrapper {
	display: flex;
	justify-content: space-between;
}
.create-parcel-box-form__work-time-day-and-night-btn {
	margin-top: 3rem;
}


.create-parcel-box-form__type-cell-summary {
	margin: .2rem 0 1rem 2.5rem;
}
.create-parcel-box-form__type-cell-summary:last-child {
	margin-bottom: 0;
}

.create-parcel-box-form__type-cell-pic {
	margin: .3rem 0;
}

