.auth-layout {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: max-content;
}

.auth-layout__container {
	display: flex;
	flex-grow: 1;
	width: 100%;
	max-width: 35rem;
}
